<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/picocss/1.5.2/pico.classless.css"
      integrity="sha512-3yPmtsPkdWmZUbezk1TCnslyeuLxZTlCr45rTPrI2YYvU4x+FALjueHNXYULUuPHquc/T1k7Z588v9YN6cs6aQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="viewport" content="width=device-width" />
  </head>

  <title>just.be.collage</title>

  <body>
    <main>
      <div>
        <div>
          <h1>just.be.collage Web API</h1>
          <h2>UX for the Web API</h2>
          <ul>
            <li><a href="./collage">List Collages (API)</a></li>
            <li><a href="./collage.html">Sample Collage Form (UX)</a></li>
            <li>
              <a href="./static/svelte-lab/index.html">Collage Builder (UX)</a>
            </li>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
