<style>
    body {
        background: #e8f1f9;
    }
</style>


{% block title %}
Just.Be.Collage Web API
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
            <h1 class="pt-5 pb-2">Just.Be.Collage Web API</h1>
            <p class="lead">UX for the Web API</p>
            <a href="./collage">List all collages (API)</a>
            <a href="./collage.html">Collage (UX)</a>
            <a href="./static/svelte-lab/index.html">Collage Builder (UX)</a>
        </div>
    </div>
</div>

{% endblock %}