code {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgb(216, 188, 30);
  display: block;
  white-space: pre-wrap;
  padding: 1em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}
