:root {
    --theme-hue: 230;
    --color-error: red;
    --border-radius: 3px;
    --editor-font-size: clamp(8px, 2cqmin, 16px);
    --font-size: clamp(8pt, 2cqmin, 12pt);
    --font-family: system-ui;

    font-family: var(--font-family);
    font-size: var(--font-size);
}

input,
select,
button {
    font-size: var(--font-size);
}

@media (prefers-color-scheme: light) {
    :root {
        --theme-hue: 230;
        --color-highlight: hsl(var(--theme-hue), 90%, 50%);
        --color-primary: hsl(var(--theme-hue), 100%, 10%);
        --color-background: hsl(var(--theme-hue), 80%, 80%);
        --color-background-highlight: hsl(var(--theme-hue), 80%, 90%);
        --color-background-2: hsl(var(--theme-hue), 80%, 75%);
        --color-border: hsl(var(--theme-hue), 80%, 50%);
        --color-border-2: hsl(var(--theme-hue), 80%, 30%);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme-hue: 40;
        --color-highlight: hsl(var(--theme-hue), 100%, 80%);
        --color-primary: hsl(var(--theme-hue), 0%, 90%);
        --color-background: hsl(var(--theme-hue), 20%, 20%);
        --color-background-2: hsl(var(--theme-hue), 20%, 20%);
        --color-background-highlight: hsl(var(--theme-hue), 20%, 10%);
        --color-border: hsl(var(--theme-hue), 20%, 50%);
        --color-border-2: hsl(var(--theme-hue), 20%, 70%);
        --color-disabled: hsl(var(--theme-hue), 70%, 20%);
        --color-border-focus: hsl(var(--theme-hue), 90%, 50%);
    }
}

body {
    container-type: inline-size;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    border-radius: var(--border-radius);
    color: var(--color-primary);
    background-color: var(--color-background);
}

h1 {
    font-size: clamp(8px, 2cqw, 24px);
}

h2 {
    font-size: clamp(8px, 1.8cqw, 20px);
}

h3,
h2,
h1 {
    text-align: center;
}